nav {
  display: flex;
  justify-content: center;
  background-color: #007acc;
  padding: 15px;
}

nav a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0 20px;
  padding: 10px 15px;
}

nav a:hover {
  text-decoration: underline;
}

#home-title {
  text-align: left;
  margin-left: 40px;
}
